<body>
    <div class="about-section">
        <h5><span>About Clean Dream Services</span></h5>
        <p>The <b><u>"Clean Dream Services"</u></b> is an E-SERVICE SYSTEM which was funded and powered by Mphasis Ltd.
            Clean Dream Services is a sister concern company of Mphasis exculsively
            opened for repairing the SmartPhones,Electronics Gadgets and Appliances
            by The Top Engineers under the Guidence of Miss Sakshi Shrivastava,Miss Sakshi Thoke,Mr Rangu Sai Prakash,Mr
            Sai Sujith and Mr Sanjheevi Narayanan.
            So what are you looking for? Bring out your devices/gadgets/appliances to us and get it serviced/repaired.
        </p>
    </div>
</body>