.login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont {
    box-shadow: 0 0 15px 6px #00000096;
    border-radius: 20px;
    width: 30%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

a#forgot {
    align-self: flex-start;
    margin-left: 65px;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: hotpink;
}
span{
    font-size: smaller;
}
pre{
    font-size: smaller;
}
button{
    border-radius: 10px;
}