<body>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="reg">
            <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup" class="conts">
                <h2>REGISTER</h2><br />
                <div class="form-group">
                    <input id="regname" #name="ngModel" ngModel name="regname" [(ngModel)]="customerDetails.name"
                        required maxlength="30" minlength="2" class="form-control" type="text" placeholder="Name" />
                    <span style="color: red" class="help-block" *ngIf="!name.valid && name.touched">
                        <pre>This is a required field</pre>
                    </span>
                </div><br />
                <div class="form-group">
                    <input id="regphone" name="regphone" [(ngModel)]="customerDetails.phone" required minlength="10"
                        maxlength="10" class="form-control" type="tel" #phone="ngModel" ngModel
                        placeholder="Phone number" />
                    <span style="color: red" class="help-block" *ngIf="!phone.valid && phone.touched">
                        <pre>This is a required field</pre>
                    </span>
                </div><br />
                <div class="form-group">
                    <input id="regaddress" name="regaddress" [(ngModel)]="customerDetails.address" required
                        class="form-control" type="text" #address="ngModel" ngModel placeholder="Address" />
                    <span style="color: red" class="help-block" *ngIf="!address.valid && address.touched">
                        <pre>This is a required field</pre>
                    </span>
                </div><br />
                <div class="form-group">
                    <input id="regemail" name="regemail" [(ngModel)]="customerDetails.email" class="form-control"
                        type="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #email="ngModel" required
                        ngModel placeholder="Email" />
                    <span style="color: red" class="help-block" *ngIf="!email.valid && email.touched">
                        <pre>Please enter a valid email</pre>
                    </span>
                </div><br />
                <div class="form-group">
                    <input id="regpassword" name="regpassword" [(ngModel)]="customerDetails.password"
                        class="form-control" type="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                        #password="ngModel" ngModel placeholder="Password" />
                    <span style="color: red" class="help-block" *ngIf="!password.valid && password.touched">
                        <pre>Password should contain
atleast 8 characters, 
1 special character, 
1 uppercase alphabet 
and 1 lower case alphabet each.</pre>
                    </span>
                </div><br />
                <div class="form-group">
                    <input id="regconfirmpass" name="regconfirmpass" [(ngModel)]="customerDetails.confirmpassword"
                        class="form-control" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                        #confirmpassword="ngModel" ngModel placeholder="Confirm password" />
                    <span style="color: red" class="help-block" *ngIf="!confirmpassword.valid && 
              confirmpassword.touched">Password doesn't match</span>
                </div><br />
                <div class="form-group">
                    <select class="btn btn-outline-dark" [(ngModel)]="customerDetails.gender" id="gender"
                        #title="ngModel" ngModel name="gender">
                        <option [value]="gender" selected disabled>Gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
                </div><br />
                <button class="btn btn-dark" (click)="register()" routerLinkActive="active"
                    routerLink="/login">REGISTER</button>
            </div>
        </div>
    </form>
</body>