<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark" *ngIf="authenticationService.isAuthenticated">
        <div class="container-fluid">
            <a class="navbar-brand" style="color: white;" routerLink="/home-admin">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            &nbsp;
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" style="color: white;" routerLink="/view-customer">Customers<span
                                class="sr-only"></span></a>
                    </li>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                </ul>
                <div class="nav-item">
                    <button class="btn btn-outline-light" style="border-radius: 0;" (click)="logout()">Logout</button>
                </div>

            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="assets/admin.png">
            </div>
        </div>
    </div>

</body>